*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
     /* scroll-padding-top: 128px;  */
}

section:where(#servicos,#servicos-two) {
    scroll-margin-top: 20px;
}
section:where(#sobre,#capacidade,#Parceiros,#Contatos) {
    scroll-margin-top: 140px;
}


/* SCROLL */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: #dadada;
}
::-webkit-scrollbar-thumb {
    background-color: var(--color-btn);
    border-radius: 4px;
}

/* VARIÁVEIS */
:root {                                             
    --fonte-texto:'Stylus';
    --color-btn: #ecf072;
    --color-text:hsl(0, 0%, 100%);
    --color-text-alternative: #4a4b4c;
    --color-text-v1: #121212;
    --color-bg: #9898a2;
    --font-size-p: 0.875rem;
    --font-size-h1:2.625rem;
    --bg-whatsapp: #34af23;
    --hover-whatsapp: #56d045;
}
/* CONFIGURAÇÃO PADRÃO */
@font-face {
    font-family:'Stylus' ;
    src: url('../fonts/stylus_bt.ttf') format('truetype');
}
.menuMobile {
    display: none;
    width: 25px;
    height: 25px;
}
.mm_line {
    height: 3px;
    background-color: #121212;
}
body {
    font-family: var(--fonte-texto);
    width: 100%;
    background-color: #878788;
}
.scrollup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    height: 35px;
    border: 1px solid transparent;
    cursor: pointer;
    position: fixed;
    right: 13px;
    bottom: 20px;
    z-index: 999;
    border-radius: 0.4rem;
    transition: all .3s;
    background: rgb(236,240,114);
    background: linear-gradient(90deg, rgba(236,240,114,1) 34%, rgba(253,243,29,1) 85%);
}
.scrollup i {
    font-size: 24px;
}
a.whatsapp {
    bottom: 65px;
    background: none;
    background-color: var(--bg-whatsapp);
    text-decoration: none;
}
a.whatsapp:hover {
    background-color: var(--hover-whatsapp);
}
section:where(.sobre,.servicos){
    margin: 2rem 0 9rem 0;
}
section .container  h1 {
    text-align: center;
    font-size: 37px;
    margin-bottom: 2.25rem;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}

.btn {
    background: rgb(236,240,114);
    background: linear-gradient(90deg, rgba(236,240,114,1) 34%, rgba(253,243,29,1) 85%);
    padding: 1rem 5rem;
    border-radius: 5rem;
    text-decoration: none;
    display: inline-block;
    font-weight: 700;
    font-family: var(--fonte-texto);
    color: var(--color-text-v1);
    font-size: 1.6875rem;
}

/* HEADER */
header {
    height: 98px;
    width: 100%;
    background-color: #dadada;
    /* position: fixed;
    z-index: 88;
    box-shadow: 0 2px 7px rgb(14 55 54 / 15%); */
}
header .container {
    height: 100%;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
}

header nav ul {
    display: flex;
    gap: 3rem;
    align-items: center;
    list-style: none;
    width: 100%;
    justify-content: space-around;
}
header nav ul li {
    position: relative;
}

header nav ul li a {
    text-decoration: none;
    font-weight: 600;
    font-family: var(--fonte-texto-titulo);
    font-size: 1.5625rem;
    color: var(--color-text-v1);
    padding: 0 0 0 3px;
}
/* SUB-MENU */
header ul.dropdown-menu {
    position: absolute;
    flex-direction: column;
    gap: 0;
    width: 240%;
    display:none ;
     
}
header ul.dropdown-menu li {
    width:100%;
}

header ul.dropdown-menu li a {
    display: block;
    padding: 8px 0 8px 3px;
}
header nav ul li:hover ul {
    display: block;

}



/* MAIN */

main.banner {
    width: 100%;
    background-color: #dadada;
    height: calc(100vh - 98px);
    background-image: url('../imagens/fundo.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    overflow: hidden;
}
main.banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding: 2rem 8rem 4rem 8rem;
    width: 100%;
    height: 100%;
}

main.banner .container .banner-text {
    text-align: center;
}
main.banner .container .banner-text h1 {
    max-width: 800px;
    margin-bottom: 2rem;
    line-height: 3rem;
    font-family: var(--fonte-titulo);
    font-size: 42px;
    color: var(--color-text-v1);
}

.banner-img {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.banner-img img {
    width: 129%;
    height: 100%;
    object-fit: contain;
}
/*  SOBRE NOS */

section.sobre {
    background-color: #878788;
    margin-top: 0;
    margin-bottom: 15rem;
}

section.sobre .container article.sobre-area , .contatos article.sobre-area {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
}
 
section.sobre .container article.sobre-texto p, .contatos article.sobre-area {
    font-size: 1.6875rem;
    line-height: 1.7;
    margin-bottom: 1rem;
    font-weight: 700;
}
section.sobre .container article.sobre-texto a, .contatos article.sobre-texto a  {
    margin-top: 1rem;
}
section.sobre .container article.sobre-area .sobre-img img {
    width: 100%;
    filter: drop-shadow( 5px 5px 4px #121212);
}

/*  SERVIÇOS */
section#servicos {
    margin-bottom: 17rem;
}

section.servicos .titulo-section{
    position: relative;
    margin-bottom: 2rem;
}
section.servicos .titulo-logo{
    width: 167px;
    height: 85px;
    position: absolute;
    top: -9px;
    bottom: 0;
    right: 1%;
}

section.servicos .titulo-logo img {
    width: 100%;
    height: 100%;
}

section.servicos h2 {
    font-size: 26px;
    text-align: center;
}

.servicos-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.servicos-area article {
    width: 36%;
}
.servicos-area article img {
    width: 100%;
    max-height: 249px;
    object-fit: cover;
    border-top-left-radius: 31px;
    border-bottom-right-radius: 43px;
}

.servicos-area-text {
    text-align: center;
    margin: 2rem;
    display: flex;
    justify-content: center;
}
.servicos-area-text ul, .servicos-area-text p  {
    max-width: 500px;
    font-size: 1.6875rem;
    font-weight: 600;
}
.servicos-area-text ul li {
    margin-bottom: 1rem;
}
.servicos-area-text ul li::marker {
    color: #FFF;
}

.servicos-area-text ul li.check-marker::marker {
    content: ' ✓ ';
    font-size: 29px;
}

section .text-start {
    text-align: start;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 3rem;
}
/* CAPACIDADE */
section#capacidade {
    margin-bottom: 17rem;
}
section#capacidade .servicos-area-text p {
    max-width: 660px;
    margin-bottom: 2rem;
}

section#capacidade .servicos-area-text {
    flex-direction: column;
    align-items: center;
}
/* PARCERIAS */
section#Parceiros {
    margin-bottom: 19.6rem;
}
section#Parceiros .parceiros-empresas {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(182px, 1fr));
    justify-items: center;
    background-color: var(--color-text-alternative);
    padding: 1rem;
    gap: 1rem;
}

section#Parceiros .parceiros-empresas div img {
    min-width: 100px;
    width: 100%;
    max-height: 98px;
    border-top-left-radius: 31px;
    border-bottom-right-radius: 26px;
}

/* CONTATO */
section#Contatos {
    margin-top: 17.4rem;
}
section#Contatos .sobre-area article {
    font-size: 1rem;
}
section#Contatos .sobre-area article p {
    margin-bottom: 0.625rem;
}

section#Contatos .sobre-area article p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    max-width: 472px;
}
section#Contatos .sobre-area article p i {
    color: #FFF;
    background: #121212;
    padding: 0.375rem;
    font-size: 20px;
    border-radius: 100%;
    margin-right: 10px;
}
section#Contatos .sobre-area article h3 {
    font-size: 1.5rem;
}
section#Contatos .sobre-area article h4 {
    font-size: 1.125rem;
    border-bottom: 3px solid #ecf072;
    display: inline-block;
    margin-bottom: 10px;
}
.contatos article.sobre-area {
    align-items: center;
}
.contatos article.sobre-area > p {
    justify-self: flex-end;
}

div.responsaveis-container {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 0 0.9375rem 0 0;
}

div.responsaveis-container .responsaveis {
    flex: 1;
}

/* FOOTER */

footer {
    text-align: center;
    padding: 50px;
    margin-top: 16rem;
}

/* RESPONSIVIDADE */
@media (min-width:1024px) {
    .submenu {
        margin: 0;
    }
}
@media (min-width:769px) and (max-width:1024px) {
    .container {
        padding: 0 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 98px;
        width: 100%;
        text-align: center;
        left: 0;
        background: #dadada;
        gap: 0;
    }
    header nav ul li {
        padding: 1rem;
        width: 100%;
    }
    header ul.dropdown-menu {
        top: 68px;
        width: 100%;
    }
    header ul.dropdown-menu li {
        padding: 0;
    }
    header ul.dropdown-menu li a {
        display: inline-block;
    }
    section.sobre .container article.sobre-area .sobre-img img {
        width: 64%;
    }
    section.sobre .container article.sobre-area, .contatos article.sobre-area {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .sobre-img, .sobre-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .servicos-area article img {
        max-height: 163px;
    }
    section#Contatos .sobre-area article h3 {
        margin-bottom: 1rem;
    }
    section#Contatos .sobre-area article h4 {
        font-size: 1.1875rem;
    }
     
}

@media (min-width:426px) and (max-width:768px) {
    html {
        font-size: 14px;
    }

    .container {
        padding: 0 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 98px;
        width: 100%;
        text-align: center;
        left: 0;
        background: #dadada;
        gap: 0;
    }
    header nav ul li {
        padding: 1rem;
        width: 100%;
    }
    header ul.dropdown-menu {
        top: 68px;
        width: 100%;
    }
    header ul.dropdown-menu li {
        padding: 0;
    }
    header ul.dropdown-menu li a {
        display: inline-block;
    }
    section.sobre .container article.sobre-area .sobre-img img {
        width: 64%;
    }
    section.sobre .container article.sobre-area, .contatos article.sobre-area {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .sobre-img, .sobre-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-img img {
        width: 166%;
    }

    .servicos-area article img {
        max-height: 163px;
    }
    section#Contatos .sobre-area article h3 {
        margin-bottom: 1rem;
    }
    section#Contatos .sobre-area article h4 {
        font-size: 1.1875rem;
    }   

    div.responsaveis-container {
        flex-direction: column;
    }
    section.servicos .titulo-logo {
        width: 106px;
        height: 66px;
    }
} 

@media (max-width:425px) {
    html {
        font-size: 14px;
    }
    .btn {
        padding: 1rem 3rem;
    }

    .container {
        padding: 0 20px;
    }
    .menuMobile {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    header nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 98px;
        width: 100%;
        text-align: center;
        left: 0;
        background: #dadada;
        gap: 0;
    }
    header nav ul li {
        padding: 1rem;
        width: 100%;
    }
    header ul.dropdown-menu {
        top: 68px;
        width: 100%;
    }
    header ul.dropdown-menu li {
        padding: 0;
    }
    header ul.dropdown-menu li a {
        display: inline-block;
    }
    section.sobre .container article.sobre-area .sobre-img img {
        width: 64%;
    }
    section.sobre .container article.sobre-area, .contatos article.sobre-area {
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
    }
    .sobre-img, .sobre-texto {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .banner-img img {
        width: 275%;
    }

    .servicos-area article img {
        max-height: 75px;
        min-height: 75px;
    }
    section#Contatos .sobre-area article h3 {
        margin-bottom: 1rem;
    }
    section#Contatos .sobre-area article h4 {
        font-size: 1.1875rem;
    }   

    div.responsaveis-container {
        flex-direction: column;
    }
    section.servicos .titulo-logo {
        width: 106px;
        height: 66px;
    }
    .servicos-area-text ul.padding {
        padding: 1.5625rem;
    }
    .servicos-area-text ul, .servicos-area-text p {
         
        font-size: 17px;
    }
    section .text-start {
        gap: 0;
    }
    section.sobre .container article.sobre-texto p, .contatos article.sobre-area {
        font-size: 18px;
    }
}




 
